.app{
    height: 100vh;
    display: flex;
    background-color: blueviolet;
    color: aliceblue;
    
  }
  .main{
    width: 90%;
    background: linear-gradient(to bottom, rgba(0,0,0,0),blueviolet,rgb(109, 57, 147))  , url("./book.jpg" ) center;
  display: flex;
  flex-direction: column; 
  }
  .top{
    height: 50%;
    position: relative;
  }
  .timer{
    width: 55px;
    height: 55px;
    border-radius: 30%;
    border : 5px solid rgb(123, 24, 230) ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 70;
    position: fixed;
    bottom: 1px;
    left: 100px;
  
  }
  .buttom{
    height: 50%;
  }
  
  .quiz{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .question{
    width: 80%;
    background: linear-gradient(rgb(158, 112, 200),rgb(78, 14, 162));
    border: 2px solid whitesmoke;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 70;
  
  }
  .answers{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .answer{
    width: 40%;
    padding: 10px;
    text-align: center;
    background: linear-gradient(rgb(229, 113, 212),rgb(162, 14, 140));
  
  border-radius: 15px;
  font-size: 20px;
  font-weight: 30;
  margin: 0 10px 20px 10px;
  cursor: pointer;
  }
  .answer:hover,
  .answer.active
  {
    background: rgb(215, 17, 212);
  }
  
  .answer.correct {
  animation: correct 1s ease forwards;
  
  }
  
  @keyframes correct {
    0%,
    22%{
      background:rgb(215, 17, 212);
    }
  
    20%,
    40%,
    60%
    {
      background : linear-gradient(rgb(229, 113, 212),rgb(162, 14, 140));
    }
    62%,100%{
      background: rgb(53, 164, 53);
    }
  }
  
  .answer.wrong {
    animation: wrong 1s ease forwards;
    
    }
  @keyframes wrong {
    0%,
    22%{
      background:rgb(215, 17, 212);
    }
  
    20%,
    40%,
    60%
    {
      background : linear-gradient(rgb(229, 113, 212),rgb(162, 14, 140));
    }
    62%,100%{
      background: rgb(219, 19, 46);
    }
  }
  
  
  .point{
    color:rgb(35, 224, 183);
   width: 10%;
   display:flex;
   align-items: center;
   justify-content: center;
  
  }
  
  .moneyList{
    list-style: none;
    width: 100%;
    padding : 20px;
  }
  .moneyListItem{
    display: flex;
    align-items: center;
    padding: 5px;
  }
  .moneyListItem.active{
    background-color: rgb(202, 17, 94);
    border-radius: 50%;
  
  }
  .moneyListItemNumber{
  font-size: 18px;
  font-weight:100 ;
  
  width: 30%;
  
  }
  .moneyListItemPoint{
    font-size: 22px;
    font-weight: 300;
  }
    
  .endtext {
  margin-top: 75px;
  display: grid;
  grid-template-rows: 100px 20px 100px 125px;
  background-color: rgb(177,177,179);
  padding: 10px;
  height:350px;
  width: 600px;
  border-radius: 15px;
  margin-left: 275px;
  margin-top: 100px;
  
  }
  
  .text{
    margin-bottom: -50px;
  }
  .h1{
    text-align: center;
    height: 50px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 40px;
    color: black;
  }
  
  .h2{
    text-align: center;
    margin-top: 12px;
    font-family:Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: black;
  }
  .butt {
    display: grid;
    grid-template-columns: 250px 250px;
    gap: 100px;
    margin-bottom: 15px;
  }
  .playagain {
  width: 200px;
  margin-left: 25px;
  height:100px;
  border-radius: 8px;
  
  background-color:rgb(43,129,130);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 19px;
    font-weight: 500;
   
    line-height: 20px;
    list-style: none;
   
    outline: none;
    
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  .playagain:hover,
  .playagain:focus {
    background-color: rgb(255,211,24); 
    color: black;
  }
  .quitgame {
    width: 200px;
    margin-left: 25px;
    height:100px;
    border-radius: 8px;
    
    background-color:rgb(43,129,130);
      border-radius: 8px;
      border-style: none;
      box-sizing: border-box;
      color: white;
      cursor: pointer;
      display: inline-block;
      font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 19px;
      font-weight: 500;
     
      line-height: 20px;
      list-style: none;
     
      outline: none;
      
      position: relative;
      text-align: center;
      text-decoration: none;
      transition: color 100ms;
      vertical-align: baseline;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
  }
  .quitgame:hover,
  .quitgame:focus {
    background-color:rgb(3,172,206);
    color: black;
  }
  