.wordbie__header1{
    display: flex;
    padding-left:5rem;
    padding-right: 5rem;
    align-items: center;
    /*padding: 2rem 0rem 2rem;*/
    
    
    /*padding: 47px 100px;*/
}
.wordbie__header1-content_title{
    margin-top: 5rem;
}

.wordbie__header1-content{
    align-items: center;

    flex:1;
    display: flex;
    justify-items: center;
    align-items: flex-start;
    flex-direction: row;
    margin-right: 5rem;
}
.wordbie__header1-content h1{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
/* or 60px */


color: #010851;

}
.wordbie__header1-content h2{
    padding-top: 2rem;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    padding-left: 2rem;
    padding-right: 2rem;
/* or 36px */


color: #010851;
/* or 60px */


color: #010851;

}
.wordbie__header1-content p{
    font-family: var(--font-family);
    font-weight: 600;
    font-size:21px;
    line-height: 140%;
/* or 25px */


color: #454868;

}
.wordbie__header1-content_title{
    padding-top: 4rem;
    margin-right: 3rem;
}
.wordbie__header1_containers{
    align-items: center;
    display: flex;
    flex-direction: row;
}
.wordbie__header1-content_box1{
    padding-top: 4rem;
    height: 400px;
    width: 300px; 
    margin-left: 2rem;
    margin-right:2rem;
    aspect-ratio: 3/4;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(79, 20, 248, 0.15);  
    border-radius: 48px;
    
}
.wordbie__header1-content_box2{
    padding-top: 4rem;
    height: 400px;
   width: 300px; 
   margin-left: 2rem;
   margin-right:2rem;
    aspect-ratio: 3/4;
    margin-top: 20rem;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(79, 20, 248, 0.15);  
    border-radius: 48px;
   
}
.wordbie__header1-content_box3{
    padding-top: 4rem;
    height: 400px;
   width: 300px; 
   margin-left: 2rem;
    margin-right:2rem;
    aspect-ratio: 3/4;
    
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(79, 20, 248, 0.15);  
    border-radius: 48px;
    flex: 20%;
}
/*.wordbie__header1-content_title{
    
    flex: 40%;

}
.wordbie__header1-content_box1{
    width: 300px;
    height: 400px;
    left: 482px;
    top: 79px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(79, 20, 248, 0.15);  
    border-radius: 48px;
    flex: 20%;
    margin-left: 10rem;
}
.wordbie__header1-content_box2{
    width: 300px;
    height: 400px;
    left: 482px;
    top: 79px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(79, 20, 248, 0.15);  
    border-radius: 48px;
    flex: 20%;
    margin-left: 3rem;
    
    
    
    
    flex: 25%;
}
.wordbie__header1-content_box3{
    width: 300px;
    height: 400px;
    left: 482px;
    top: 79px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(79, 20, 248, 0.15);  
    border-radius: 48px;
    flex: 20%;
    margin-left: 3rem;
   

    
    flex: 20%;
}
/*.wordbie__text_header2{
    width:fit-content;
    height:fit-content;
    flex:25%;
    font-family: var(--font-family);
    text-align:left;
    color: rgb(0, 0, 0);
    font-style:normal;
    font-weight: 2000;
    

}
.wordbie__text_header1{
    width:fit-content;
    height:fit-content;
    flex:25%;
    font-family: var(--font-family);
    text-align:left;
    color: rgb(0, 0, 0);
    font-style:normal;
    font-weight: 2000;
    

}
.wordbie__box2_header1{
    width:fit-content;
    height:fit-content;
    flex:25%;
    font-family: var(--font-family);
    text-align:left;
    color: rgb(0, 0, 0);
    font-style:normal;
    font-weight: 2000;
}
.wordbie__box2_header1{
    width:fit-content;
    height:fit-content;
    flex:25%;
    font-family: var(--font-family);
    text-align:left;
    color: rgb(0, 0, 0);
    font-style:normal;
    font-weight: 2000;
}
.wordbie__box2_header1{
    width:fit-content;
    height:fit-content;
    flex:25%;
    font-family: var(--font-family);
    text-align:left;
    color: rgb(0, 0, 0);
    font-style:normal;
    font-weight: 2000;
}
*/
@media screen and (max-width: 1050px){
    .wordbie__header1-content{
       
        display: flex;
        flex-direction: column;
    }
    
    .wordbie__header1_containers{
        align-items: center;
        display: flex;
        flex-direction:column;
    }
    
    
}

